.left-panel {
    background: linear-gradient(251.16deg, #9FEB00 0%, #168f59 96.92%);
}

.focused-border {
    border: solid 1px #00a885;
}

.focused-icon {
    color: #00a885;
}

.logo {
    background-image: url('../img/ct-logo.png');
    background-repeat: no-repeat;
    height: 45px;
}

.logo-login {
    background-position: left;
    margin-bottom: 20px;
}

@media (max-height: 590px) {
    .logo-login {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .logo-login {
        background-position: center;
        margin-bottom: 25px;
    }
}

.path-cor-sistema {
    fill: #00a885 !important;
}

.logo-marca {
    background: url('../img/logo_40.png') no-repeat;
    background-position: center center;
}

.btn-primary {
    background-color: #00a885;
    border-color: #00a885;
}

    .btn-primary:hover {
        background-color: #38B955;
        border-color: #38B955;
    }

.btn-outline-primary {
    border-color: #00a885;
    color: #00a885;
}

    .btn-outline-primary:hover {
        background-color: #38B955;
        border-color: #38B955;
    }

.footer-button-bar .active {
    color: #93D408;
    border-bottom: 3px solid #93D408;
}