@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa-2x {
    font-size: 2em;
}

.fa {
    margin-top: 10px;
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}


.main-menu:hover,
nav.main-menu.expanded {
    width: 280px;
    overflow: visible;
}


.main-menu {
    background: #f9fafc;
    border-right: 1px solid #008c4f3f;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .2s ease;
    transition: width .2s ease;
    z-index: 1000;
}

.main-menu>ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 280px;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #008c4f;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;

}

.divBusca{
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #008c4f;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;

}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.has-subnav{
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    position: relative;
}

.has-subnav:hover{
    color: #2aee97;
    transform: scale(1.0);
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 10%);

}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.grpBusca {
    display: flex;
    height: 40px;
}

#btnBuscar {
    border-radius: 180px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 7px;
    outline: none;
    border: none;
    border-bottom: 1px solid #008c4f;
    background-color: #008c4f;
    cursor: pointer;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;

}
#btnBuscar:hover{
    color: #2aee97;
    transform: scale(1.1);
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 10%);
}

#txtbusca {
    outline: none;
    border: none;
    border-bottom: 1px solid #008c4f;
    background-color: transparent;
   ;
}

ul.sub-menu {
    position: absolute;
    left: 100%;
    top: 10px;
    display: none;
}

li:hover ul{
    display: block;
}

ul.sub-menu li {
    margin-left: 15px;
    margin-top: 15px;
}

ul.sub-menu li a:hover {
    background-color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

ul.sub-menu li a:hover {
    color: #2aee97;
    transform: scale(1.2);
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 10%);
}

ul.sub-sub-menu {
    position: absolute;
    left: 100%;
    top: 10px;
    display: none;
}

li:hover ul {
    display: block;
}

ul.sub-sub-menu li {
    margin-left: 15px;
}

ul.sub-sub-menu li a:hover {
    background-color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

ul.sub-sub-menu li a:hover {
    color: #2aee97;
    transform: scale(1.2);
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 10%);
    border: 1px solid black;
}




